* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

p {
  font-size: 20px;
}
body {
  display: block;
}

header {
  height: 10 rem;
  width: 100rem;
  display: flex;
  background-color: black;
  text-align: center;
}

/* Nav bar */
nav {
  margin-right: 20px;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  color: white;
}

.links a:hover {
  color: red;
}
.links li a {
  color: white;
  display: inline-block;
  text-align: center;
}

.links li {
  display: inline-block;
  text-align: center;
  font-size: 30px;
  margin-left: 6rem;
  padding: 1rem;
}

nav ul.links {
  list-style-type: none;
  text-align: center;
}

/* Main */

main {
  flex: 70%;
}
/* Name */

h1 {
  font-size: 20px;
  display: inline-block;
  color: black;
  margin-top: 1.5rem;
  font-family: cursive;
  padding-left: 700px;
}

.shine::after {
  content: "🌞";
}

h1:hover .no:after {
  color: red;
  content: "WILL";
  font-style: italic;
  font-size: 30px;
}

/* Avatar */

.first {
  background-color: white;
  display: block;
}
.avatar {
  width: 25rem;
  padding-left: 10rem;
  padding-top: 3rem;
  padding-bottom: 0;
}

/* Welcome section */

.welcome {
  display: block;
  width: fit-content;
  height: fit-content;
  margin-top: -45rem;
  margin-left: 30rem;
  padding: 60px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-decoration: underline;
}

.welcome p {
  margin-top: 1rem;
}

.connect {
  width: 3rem;
  height: 3rem;
  margin-top: 1rem;
  padding: 2px;
}

/* _------------------------------------------------- */

/* All main headings */
h3 {
  font-size: 50px;
}

/* About me article */
.mine .info {
  display: inherit;
  width: 80rem;
  height: 30rem;
  padding-left: 150px;
}

/* About me paragraph */
.info .text {
  font-size: 25px;
  width: 30rem;
  margin-top: 3rem;
}

.info p {
  font-size: 25px;
  width: 55rem;
  padding-right: 2rem;
  margin-top: 3rem;
  display: block;
}

/* All articles */

.info {
  width: 80rem;
  height: 20rem;
  padding-left: 150px;
  display: block;
  border-bottom: solid black;
}

/* About me pic */

.pic {
  display: flex;
  margin-left: 35rem;
  margin-top: -26rem;
  width: 30rem;
  height: 25rem;
}
/* All hovering captions */

.hovercap {
  display: none;
  box-sizing: border-box;
  width: 100%;
  padding: 7px;
  position: absolute;
  bottom: 0;
  background-color: grey;
  color: white;
}

/* Work */

/* Cobra and Intro box */
.card {
  margin-top: 1rem;
  margin-right: 250px;
  width: 150px;
  height: 150px;
  float: left;
  display: table-cell;
}

/* Horizeon */

#box1 {
  margin-top: 1rem;
  margin-right: 250px;
  width: 450px;
  height: 210px;
  float: left;
  display: table-cell;
}

#box1 .horizeon {
  width: 450px;
  height: 210px;
}

#box1:hover .hovercap {
  position: relative;
  display: block;
  visibility: visible;
  opacity: 1;
}

/* Cobra Kai */

#box2 {
  margin-top: -15.2rem;
  margin-left: 42rem;
}

.cobra {
  border-radius: 50%;
}
#box2 .cobra {
  width: 150px;
  height: 150px;
}

#box2:hover .hovercap {
  display: block;
  position: relative;
  visibility: visible;
  opacity: 1;
}

/* Introduction */

#box3 {
  margin-top: -15.5rem;
  margin-left: 55rem;
}

.me {
  border-radius: 50%;
}

#box3 .me {
  width: 160px;
  height: 160px;
}

#box3:hover .hovercap {
  display: block;
  position: relative;
  visibility: visible;
  opacity: 1;
}

/* CV and button */
button {
  background-color: white;
  cursor: pointer;
  width: 20rem;
  height: 8rem;
  margin-top: 4rem;
  font-size: large;
  font-weight: bold;
}

button:hover {
  background-color: grey;
}

/* Contact info */

#contactinfo {
  font-size: 20px;
  list-style-type: none;
  position: relative;
  display: flex;
  display: inline-block;
  justify-content: space-between;
}

/* Footer */
footer {
  padding: 30px;
  clear: both;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}

/* Screen res */

@media screen and (max-width: 768px) {
  nav ul {
    display: flex;
    justify-content: flex-start;
  }

  nav li {
    flex: 1 1 0;
  }

  main {
    display: flexbox;
    margin: -10px;
  }

  body {
    display: flex;
    flex-direction: column;
  }

  header {
    background: green;
  }
  nav {
    width: 25%;
  }

  .welcome {
    width: 100%;
  }
}

@viewport {
  width: device-width;
  zoom: 1;
}
